* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: none;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  background-color: white;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
}

.navbar {
  flex: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  min-height: 80px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
  padding-inline: 8px;

  a {
    transition: all 400ms;
    color: #053471;
    cursor: pointer;

    &:hover {
      color: #d30e40;
    }
  }
  .header-logo {
    img {
      width: clamp(48px, 4vw, 64px);
      height: clamp(48px, 4vw, 64px);
      object-fit: contain;
    }
  }
  .header-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-right: 8px;

    .menu {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 36px;
      font-size: clamp(12px, 2vw, 16px);
    }
    .header-quote {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 24px;
      gap: 36px;
      border-left: 1px solid #c0c0c0;
      font-size: clamp(12px, 2vw, 16px);

      .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        color: #053471;
        cursor: pointer;
        font-size: clamp(12px, 2vw, 16px);

        &:hover {
          color: #d30e40;
        }
      }
    }
  }
}

.main-page {
  margin: 0;
  flex: 91;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;

  .popular-courses {
    min-height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .bg-image-div {
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .red-text {
      font-size: clamp(10px, 4vw, 23px);
      background-color: #d30e40;
      padding: 4px 16px;
      width: fit-content;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: clamp(480px, 100vw, 100%);
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.6615021008403361) 50%,
        rgba(0, 0, 0, 0.2497373949579832) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      align-items: baseline;
      color: white;
      font-size: 1.4em;
      z-index: 2;

      .info-title {
        margin-left: clamp(36px, 18vw, 400px);
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: clamp(8px, 1vw, 23px);

        button {
          width: fit-content;
          transition: all 400ms;
          margin-top: 24px;
          padding: 14px 24px;
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          color: white;
          outline: none;
          border: 2px solid #6e6e6e;

          &:hover {
            border: 2px solid #d30e40;
            background-color: #d30e40;
          }
        }
      }
    }
  }

  .popular-courses {
    .popular-courses-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;

      button {
        width: fit-content;
        transition: all 400ms;
        padding: 14px 24px;
        font-size: 16px;
        display: flex;
        background-color: transparent;
        color: rgb(0, 0, 0);
        outline: none;
        border: 2px solid #00306e1a;

        &:hover {
          color: white;
          border: 2px solid #d30e40;
          background-color: #d30e40;
        }
      }

      .popular-course-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;

        .popular-course-card {
          max-height: 460px;
          max-width: 330px;
          background-color: #ffffff;
          border-radius: 12px;
          -webkit-box-shadow: 0px 1px 22px -4px rgba(155, 155, 155, 0.75);
          -moz-box-shadow: 0px 1px 22px -4px rgba(175, 175, 175, 0.75);
          box-shadow: 0px 1px 22px -4px rgba(163, 163, 163, 0.75);

          .card-tags {
            & ul {
              display: flex;
              margin-block: 18px;
              margin-left: 52px;
              gap: 56px;
            }
          }

          .card-info {
            margin-inline: 8px;
            color: #00306e;
            padding: 0px 24px 24px 24px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-family: "Roboto", sans-serif;
          }

          & img {
            width: 330px;
            height: 240px;
            object-fit: cover;
          }

          .card-subtitle {
            border-top: 1px solid rgb(209, 209, 209);
            .card-subtitle-container {
              margin-inline: 20px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 12px;

              .course-time {
                color: #a09b99;
              }
            }
          }
        }
      }
    }
  }

  .new-courses {
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/1.jpg");
    min-height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    .new-courses-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;

      button {
        width: fit-content;
        transition: all 400ms;
        padding: 14px 24px;
        font-size: 16px;
        display: flex;
        background-color: transparent;
        color: rgb(0, 0, 0);
        outline: none;
        border: 2px solid #00306e1a;

        &:hover {
          color: white;
          border: 2px solid #d30e40;
          background-color: #d30e40;
        }
      }

      .new-course-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;

        .new-course-card {
          max-height: 460px;
          max-width: 330px;
          background-color: #ffffff;
          border-radius: 12px;
          -webkit-box-shadow: 0px 1px 22px -4px rgba(155, 155, 155, 0.75);
          -moz-box-shadow: 0px 1px 22px -4px rgba(175, 175, 175, 0.75);
          box-shadow: 0px 1px 22px -4px rgba(163, 163, 163, 0.75);

          .card-tags {
            & ul {
              display: flex;
              margin-block: 18px;
              margin-left: 52px;
              gap: 56px;
            }
          }

          .card-info {
            margin-inline: 8px;
            color: #00306e;
            padding: 0px 24px 24px 24px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.5px;
            font-family: "Roboto", sans-serif;
          }

          & img {
            width: 330px;
            height: 240px;
            object-fit: cover;
          }

          .card-subtitle {
            border-top: 1px solid rgb(209, 209, 209);
            .card-subtitle-container {
              margin-inline: 20px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 12px;

              .course-time {
                color: #a09b99;
              }
            }
          }
        }
      }
    }
  }
}

.login-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: #151515;

  .login-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: clamp(200px, 20vw, 450px);
    height: 45%;
    background-size: cover;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/3.jpg");

    & .title {
      margin: 0;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: clamp(10px, 1vw, 16px);
      gap: 12px;
    }
  }

  .login-form {
    flex: 90;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/1.jpg");

    .wrap-centered-form-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: clamp(450px, 90vw, 540px);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      box-sizing: inherit;
      width: clamp(300px, 90vw, 500px);
      margin: 0 auto;
      margin-top: 96px;
      border-radius: 5px;
      background: #fff;

      form {
        width: 85%;
        input {
          line-height: normal;
          display: block;
          outline: none;
          border-radius: 6px;
          font-size: 16px;
          border-width: 1px;
          transition: 0.2s;
          height: 48px;
          padding: 10px 18px;
          margin-bottom: 45px;
          min-width: 300px;
          width: 100%;
          opacity: 1;
          padding-right: 41px;
        }
      }

      .keep-signed {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
        font-size: clamp(10px, 3vw, 16px);
        width: 80%;

        a {
          transition: all 400ms;
          color: #2c6df8;

          &:hover {
            color: #d30e40;
          }
        }

        .check {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;

          input {
            color: white !important;
            margin-bottom: 0px;
            width: 16px;
            border: none;
            outline: none;
          }
        }
      }

      .submit-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        font-size: clamp(10px, 3vw, 16px);
        gap: 8px;
        width: 85%;

        button {
          margin: 0;
          outline: none;
          text-transform: none;
          background-color: #3270fc;
          vertical-align: middle;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-weight: 500;
          border: none;
          box-sizing: border-box;
          transition: 200ms;
          line-height: 26px;
          font-size: 16px;
          border-radius: 6px;
          white-space: nowrap;
          word-break: keep-all;
          display: flex;
          cursor: pointer;
          width: 100%;
          padding: 10px 34px;
          color: white;
        }

        a {
          transition: all 400ms;
          color: #3e7bff;

          &:hover {
            color: #d30e40;
          }
        }
      }
    }
  }
}

.sign-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: #151515;

  .sign-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: clamp(200px, 20vw, 450px);
    background-size: cover;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/3.jpg");

    & .title {
      margin: 0;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: clamp(8px, 2vw, 22px);
      gap: 12px;
    }
  }

  .sign-form {
    flex: 90;
    width: 100%;
    padding-bottom: 40px;
    min-height: 1000px;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/1.jpg");

    .wrap-centered-form-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      box-sizing: inherit;
      width: clamp(300px, 90vw, 580px);
      margin: 0 auto;
      margin-block: clamp(32px, 4vw, 76px);
      padding-inline: clamp(25px, 3vw, 55px);
      border-radius: 5px;
      background: #fff;

      input {
        line-height: normal;
        display: block;
        outline: none !important;
        border-radius: 6px !important;
        font-size: 16px;
        transition: 0.2s;
        height: 48px;
        padding: 10px 18px;
        margin-bottom: 25px;
        margin-top: 20px;
        max-width: 100%;
        padding-right: 41px;
      }

      .submit-form {
        display: flex;
        flex-direction: row;
        justify-content: end;

        button {
          outline: none;
          background-color: #3270fc;
          border: none;
          font-size: 16px;
          border-radius: 6px;
          cursor: pointer;
          width: fit-content;
          padding: 10px 34px;
          color: white;
        }

        a {
          transition: all 400ms;
          color: #3e7bff;

          &:hover {
            color: #d30e40;
          }
        }
      }
    }
  }
}

.footer {
  background-color: #151515;
  height: 40%;
  min-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-inline: 24px;

  .footer-justify {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .footer-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 200px;
      margin-inline: 16px;
      margin-bottom: clamp(0px, 2vw, 42px);
      font-size: clamp(6px, 2vw, 16px);

      h2 {
        color: white;
      }

      .footer-top-logo {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;

        h4 {
          color: #b2b7b9;
        }

        img {
          width: clamp(42px, 4vw, 72px);
        }
      }

      .footer-top-links,
      .footer-top-about {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
          transition: all 400ms;
          color: #b2b7b9;

          &:hover {
            color: #d30e40;
          }
        }
      }
    }

    .footer-bottom {
      padding-top: 12px;
      align-items: center;
      border-top: 1px solid grey;
      font-size: clamp(6px, 2vw, 16px);

      .footer-bottom-copyRight {
        color: #b2b7b9;
      }
    }
  }
}

.who-are-we {
  background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/1.jpg");
  min-height: 860px;
  max-height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .who-are-we-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    height: 100%;
    margin-inline: 128px;
    font-size: clamp(12px, 1vw, 24px);

    .who-are-we-quesitons {
      width: clamp(350px, 90vw, 1200px);
      height: 500px;
    }
  }
}

.courses-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  color: black;

  .courses-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: clamp(200px, 20vw, 450px);
    height: 45%;
    background-size: cover;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/3.jpg");

    & .title {
      margin: 0;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  .course-all {
    position: relative;
    margin-block: clamp(150px, calc(20vw - 30px), 140px);

    .course-all-cards {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }

    .course-filter {
      display: flex;
      flex-direction: column;
      gap: 12px;
      top: -180px;
      left: 50%;
      color: white;
      transform: translate(-50%);
      position: absolute;
      width: clamp(200px, 90vw, 550px);
      height: 120px;
      padding: 12px;
      border-radius: 12px;
      background-image: url(https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/02/cta.jpg);
      background-size: contain;

      .course-filter-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .course-filter-section {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
        }
      }
    }

    .section-course-card {
      transition: all 400ms;
      max-height: 460px;
      max-width: 330px;
      background-color: #ffffff;
      border-radius: 12px;
      -webkit-box-shadow: 0px 1px 22px -4px rgba(155, 155, 155, 0.75);
      -moz-box-shadow: 0px 1px 22px -4px rgba(175, 175, 175, 0.75);
      box-shadow: 0px 1px 22px -4px rgba(163, 163, 163, 0.75);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      .card-tags {
        & ul {
          display: flex;
          margin-block: 18px;
          margin-left: 52px;
          gap: 56px;
        }
      }

      .card-info {
        margin-inline: 8px;
        color: #00306e;
        padding: 0px 24px 24px 24px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
        font-family: "Roboto", sans-serif;
      }

      & img {
        width: 330px;
        height: 240px;
        object-fit: cover;
      }

      .card-subtitle {
        border-top: 1px solid rgb(209, 209, 209);

        .card-subtitle-container {
          margin-inline: 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 12px;

          .course-time {
            color: #a09b99;
          }
        }
      }
    }
  }
}

.roadmap-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
  color: #213547;

  .post-container {
    width: clamp(300px, 90vw, 600px);
    position: relative;
    -webkit-box-shadow: 0px 1px 22px -4px rgba(155, 155, 155, 0.75);
    -moz-box-shadow: 0px 1px 22px -4px rgba(175, 175, 175, 0.75);
    box-shadow: 0px 1px 22px -4px rgba(163, 163, 163, 0.75);
    padding-bottom: 12px;
    border-radius: 12px;

    #post-upper-image {
      width: 100%;
      object-fit: cover;
    }

    .post-info {
      margin: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .post-tags {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
        font-size: 10px;

        .tag {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          & img {
            width: 12px;
            height: 12px;
          }

          & span {
            font-size: clamp(6px, 2vw, 16px);
          }
        }
      }

      .post-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
        font-size: clamp(8px, 3vw, 22px);

        button {
          display: flex;
          transition: all 400ms;
          gap: 12px;
          outline: none;
          border: none;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
          width: fit-content;
          border: 2px solid #e5eaf0;
          padding: 10px 34px;
          background-color: white;
          color: rgb(0, 0, 0);

          &:hover {
            border: 2px solid #3270fc;
            background-color: #3270fc;
            color: #ffffff;
          }
        }

        & span {
          font-size: clamp(5px, 2vw, 16px);
          margin-bottom: 16px;
        }
      }
    }
  }

  .roadmap-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: clamp(200px, 20vw, 450px);
    height: 45%;
    background-size: cover;
    background-image: url("https://reactheme.com/products/wordpress/echooling/wp-content/uploads/2022/01/3.jpg");

    & .title {
      margin: 0;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }
  }

  .roadmap-all {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 36px;
    margin: 96px;

    .roadmap-all-posts {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
  }
}

.course-inside {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  .course-inside-container {
    display: flex;
    min-height: 99vh;

    .course-monitor {
      height: 100%;
      flex: 80;
      display: flex;
      flex-direction: column;
      color: #a09b99;
      padding: 18px;

      & h2 {
        font-size: clamp(12px, 2vw, 24px);
      }

      .video-container {
        flex: clamp(1%, 50vw, 50%);
        & iframe {
          object-fit: contain;
          width: clamp(300px, 90vw, 100%);
          height: clamp(100px, 50vw, 100%);
        }
      }

      .course-informations {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block: 8px;
        padding-block: 12px;
        flex: 10;
        cursor: default;

        .course-info {
          width: fit-content;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;
          height: fit-content;
          color: #213547;

          .comment {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            font-size: clamp(10px, 2vw, 16px);
            color: #d3d3d3;
            background-color: #f5f5f5;
            padding: clamp(2px, 1vw, 8px);
            border-radius: 8px;
          }
        }

        .course-tags {
          .course-tag {
            width: fit-content;
            display: flex;
            flex-direction: row;
            & span {
              font-size: clamp(6px, 2vw, 14px);
            }
          }
        }
      }

      .course-inside-sections {
        flex: 20;
        padding-block: 12px;
      }
    }

    .course-content {
      height: 100%;

      flex: 20;
      border-left: 1px solid #a09b99;
      -webkit-box-shadow: 0px 1px 22px -4px rgba(155, 155, 155, 0.75);
      -moz-box-shadow: 0px 1px 22px -4px rgba(175, 175, 175, 0.75);
      box-shadow: 0px 1px 22px -4px rgba(163, 163, 163, 0.75);
    }
  }
}

@media screen and (max-width: 900px) {
  .course-content {
    display: none !important;
  }
}
